<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.iratebear.apollo">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_black_sun_green_icon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_black_sun_green_icon"
        android:supportsRtl="true"
        android:theme="@style/LaunchTheme">
        <activity
            android:name=".SearchActivity"
            android:exported="false" />
        <activity
            android:name=".PlayQueueActivity"
            android:exported="false" />
        <activity
            android:name=".PlayItemActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>